@charset "UTF-8";

body{
  width: 100%;
  margin: 0;
}



header{}
.logo{
  margin: 24px auto;
  width: 263px;
  height: 60px;
  background: url(image/2018xtech_logotype_s.png);
  font-size: 0;
}



nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nav-container{
  left: 0;
  top: 70px;
  width: 100%;
  background: #000b00;
  border-bottom: 5px solid #00ffff;
  z-index: 10;
}
nav ul{
  list-style: none;
  display: flex;
  flex-flow: row;
  margin: 0;
  padding: 20px 10px 0 10px;
}
nav li a{
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}
nav li a:hover{
  background: #00ffff;
  border-radius: 10px 10px 0 0;
}
nav li.students{
  margin-left: auto;
}



main{}
.main-container{
  z-index: 0;
  display: flex;
  margin: 0 20px;
  padding: 40px 5px 30px 5px;
}
.sidebar{
  order: 2;
  flex: 0 0 260px;
  height: 100%;
  margin: 0 5px 0 5px;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 214px;
}
}
.maincontents{
  order: 1;
  flex: 1 1 auto;
  margin: 0 5px 0 0;
  padding:0;
}

.links{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin: 0;
  padding: 0;
}
.links li{
  flex: 0 0 19%;
  margin-bottom: 10px;
}
.links li:empty{
  border: none;
}



footer{}
.footer-container{
  position: fixed;
  display: flex;
  z-index: 10;
  bottom: 0;
  width: 100%;
  background-color: #000b00;
  border-top: 5px solid #00ffff;
}
.breadcrump{
  margin: 0;
  list-style: none;
  padding: 3px 20px 0px;
  font-size: 14px;
}
.breadcrump li{
  display: inline-block;
  color: #ffffff;
}
.breadcrump li::after{
  content: ">>";
  padding: 0.5px;
  color: #00ffff;
}
.breadcrump li.last{
  content: none;
}
.breadcrump li:first-child{
  margin-left: auto;
}
.breadcrump li:first-child::after{
  content: "→";
  color: #00ffff;
}
.breadcrump li:last-child::after{
  content: none;
}



.linkbox{
  width: 280px;
  height: 300px;
  background: #ffffff;
  border: 1px solid #00ffff;
  margin: 10px;
  padding: 5px;
  box-shadow: 4px 2px 6px 1px #c0c0c0;
}
.linkimg{
  width: 276px;
  height:207px;
}
.linktxt{
  text-overflow: ellipsis;
  letter-spacing: 0px;
  line-height: 20px;
  color: #000000;
}
.linktxt::first-line{
  font-size: 13px;
  color:#696969;
}



figure.image-box{
  float: left;
  padding-right: 20px;
}

.clear{
  clear:both;
}

p{
  letter-spacing: 2px;
  line-height: 30px;
}

.lead::first-letter{
  float:left;
  padding:0.05em 0.05em 0 0;
  line-height: 0.95em;
  font-size: 4.1em;
  font-weight: bold;
}

:target{
  background: #0000ff;
}

a{
  text-decoration: none;
}

a:link{
  color: #00a1e9;
}

a:visited{
  color: #5bad92;
}

a:hover{
  opacity: 0.75;
  text-decoration: underline;
}

::selection{
  background-color: #00ffff;
}
