@charset "UTF-8";

body{
  background-color: #ffffff;
  margin: 0;
}

nav{
  background: #000b00;
  border-bottom: 5px solid #00ffff;
}

nav ul{
  list-style: none;
  display: flex;
  flex-flow: row;
  margin: 0;
  padding: 20px 10px 0 10px;
}

nav li a{
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}

nav li a:hover{
  background: #00ffff;
  border-radius: 10px 10px 0 0;
}

nav li.top{
  margin-left: auto;
}

.logo{
  margin: 16px auto;
  width: 263px;
  height: 59px;
  background: url(image/2018xtech_logotype_s.png);
  font-size: 0;
}

.header-nav-wrapper{
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  background: #000000;
}

/*flex2カラムレイアウトここから*/
.container{
  position: absolute;
  z-index: 0;
  display: flex;
  padding: 0 0 40px 0;
  background: #ffffff
}

.sidebar{
  position: fixed;
  width: 230px;
  height: 100%;
  padding: 50px 20px;
  background: #ffffff;
  border-right: double #808080;
}

.maincontents{
  margin-left: 270px;
  padding: 20px;
}

/*flex2カラムレイアウトここまで*/

figure.image-box{
  float: left;
  padding-right: 20px;
}

.clear{
  clear:both;
}

p{
  letter-spacing: 2px;
  line-height: 30px;
}

.lead::first-letter{
  float:left;
  padding:0.05em 0.05em 0 0;
  line-height: 0.95em;
  font-size: 4.1em;
  font-weight: bold;
}

:target{
  background: #0000ff;
}

a:link{
  color: #00a1e9;
}

a:visited{
  color: #5bad92;
}

a:hover{
  opacity: 0.75;
}

.image box{
  background: url(http://sozai.7gates.net/img/icon/loading/loading01_r3_c1.gif) center center no-repeat;
}

/*パンくずリストここから*/
.breadcrump{
  list-style: none;

}
/*パンくずリストここまで*/
