@charset "UTF-8";

body{
  background-color: #EEEEEE;
}

header{
  max-width: 100px;
  margin: 0 auto;
}

.logo{
  margin: 50px auto;
  width: 263px;
  height: 59px;
  background: url(image/2018xtech_logotype_s.png);
  font-size: 0;
}

.header-nav-wrapper{
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  background: #EEEEEE;
}

/*flex2カラムレイアウトここから*/
.container{
  position: absolute;
  z-index: 0;
  display: flex;
  padding: 0 0 40px 0;
  background: #ffffff
}

.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  padding: 50px 20px;
  background: #ffffff

}

.maincontents{
  margin-left: 270px;
  padding: 20px;
}

/*flex2カラムレイアウトここまで*/

figure.image-box{
  float: left;
  padding-right: 20px;
}
.clear{
  clear:both;
}
p{
  letter-spacing: 2px;
  line-height: 30px;
}
.lead::first-letter{
  float:left;
  padding:0.05em 0.05em 0 0;
  line-height: 0.95em;
  font-size: 4.1em;
  font-weight: bold;
}
:target{
  background: #94b5d4;
}
a:link{
  color: #94b5d4;
}
a:visited{
  color: #544a17;
}
a:hover{
  opacity: 0.75;
}
.image box{
  background: url(http://sozai.7gates.net/img/icon/loading/loading01_r3_c1.gif) center center no-repeat;
}
/*パンくずリストここから*/
.breadcrump{
  list-style: none;

}
/*パンくずリストここまで*/
